APP_DOMAIN=goravel.localhost
VITE_DOMAIN=vite.goravel.localhost

DB_DATABASE=goravel
DB_USERNAME=goravel
DB_PASSWORD=goravel

# Enable this only if bind-mount file events do not work on your host.
VITE_USE_POLLING=false
